@media only screen and (max-width: 960px) {
  /* .hour-and-weekday {
    width: 100vw;
  } */
  
}


@media only screen and (min-width: 961px) {
 
  .hour-and-weekday {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0.5%;
    box-sizing: border-box;

  }


  #time-bar, #month-bar {
    padding-bottom: 30px;
  }

}