.hexTools {
  display: block;
  padding: 1%;
  text-align: left;
  border-radius: 5px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}


.hexTools:hover {
  opacity: 1; /* Change the opacity value when hovering */
}

.hexTools h4 {
  margin: 0;
  text-align: left;
  color: rgb(85, 85, 85);
  font: Arial, Helvetica, sans-serif;
  font-weight: 600;

}

.radio-buttons .radio-button {
  display: flex;
}

input {
  margin-left: 0;
}