#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 25px;
  column-gap: 100px; 
}



.info-box {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding-right: 40%;
}

.multi-line-plot {
  grid-column: 1 / 2;
  grid-row: 3;
}


.leaflet-map {
  grid-column: 1 / 2;
  grid-row: 2;
}

.filter-options {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  z-index: 10000;
  padding-bottom: 40px;
}
.filter-option {
  margin-right: 30px;
  width: 150px;
  text-align: left;
  color: black;
  width: 120%; /* Set a width larger than the container to allow text overflow */
  white-space: nowrap;
  
  /* overflow-y: auto; */

  /* border: 1px solid #ccc; */
  /* padding: 10px; */
}
