/* #root {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; 
} */

body {
  background: rgb(225, 224, 222);
}

.split-container {
  display: flex;
  justify-content:start;
  height: 1470px; /*need to specify height for sticky to work*/
  /* margin: 1em; */
  margin: auto 0;
  margin-left: 0;
  background: rgb(225, 224, 222);
}


/* width: 100px;
height: 300px;
background: green;
position: sticky;
top: 0; */




.grid-item {
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties */
  padding: 20px 0; /* Adjust the padding inside each cell */
  background-color: #fff; /* Background color for each cell */
  box-sizing: border-box;
}

.borough-data {
  display: flex;
  padding-bottom: 0;
  /* justify-content: center; */
}

.grid-item.leaflet-map {
  padding: 0;
  border-radius: 10px;
}

/* .timedate-box {
  height: 80vh;
} */

.left-side {
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 0;
  width: 50%;
  height: 100px;
  position: sticky;
  top: 78px; /*height on select box*/
  display: grid;
  row-gap: 20px;
  justify-content: center;
  /* background: green; */
}

.leaflet-map {
  box-sizing: border-box;
  grid-column: 1 ;
  grid-row: 2;
  height: 20vh;
  width: 100%;
  background: #fff;


}

.multi-line-plot {
  grid-column: 1;
  grid-row: 1;
  background: #fff;
  height: 40vh;
}




.right-side {
  padding-top: 10px;
  width: 50%;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
/*   
  background: #717171; */

}

/* .right-side > :last-child {
  margin-bottom: 100px;
} */

.horizontal-bar {
  grid-column: 1;
  grid-row: 1;
  height: 85vh;
  /* margin-right: 30px; */
}


.info-box {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
}



.filter-options {
  width: 100%;
  margin: 0 auto; /* Center the filter options horizontally */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;
  padding: 20px;
  background-color: #fff;
  left: 50%; /* Center horizontally by adjusting from the left */
  transform: translate(-50%, 0); /* Center the element precisely */
}

.filter-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.filter-option {
  margin-right: 30px;
  min-width: 150px;
  text-align: left;
  color: black;
  white-space: nowrap;
  width: 120%; /* Set a width larger than the container to allow text overflow */
}