body {
  background: rgb(225, 224, 222);
}

.filter-options {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;
  padding: 20px;
  background-color: #fff;
  left: 50%;
  transform: translate(-50%, 0);
}

.split-container {
  display: flex;
  justify-content:start;
  height: 1470px; /*need to specify height for sticky to work*/
  margin: auto 0;
  margin-left: 0;
  background: rgb(225, 224, 222);
}

.left-side {
  padding-top: 10px;
  margin-right: 5px;
  margin-left: 0;
  width: 50%;
  height: 100px;
  position: sticky;
  top: 78px; /*height of filter header*/
  display: grid;
  row-gap: 10px;
  justify-content: center;

}

.right-side {
  padding-top: 10px;
  margin-right: 1%;
  width: 50vw;
  height: 100px;
  display: grid;
  justify-content: center;
  align-items: start;
  row-gap: 5px;
}

.grid-item {
  width: 100%;
  border-radius: 5px; /* Adjust the border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow properties */
  padding: 20px 0; /* Adjust the padding inside each cell */
  background-color: #fff; /* Background color for each cell */
  box-sizing: border-box;
}

.grid-item.datetime {
  height: 85vh;
}

.grid-item.leaflet-map {
  position: relative;
  padding: 0;
  width: 48vw;
  height: 52vh;
  
}

.grid-item.summary {
  padding: 15px;
  width: 48vw;
  height: 35vh;
}


