


.map-features {
  grid-column: 1 / 2;
  grid-row: 2;

}

.map-legend {
  grid-column: 2 / 3;
  grid-row: 2;
}

.hexTools {
  grid-column: 1 / 2; /* Span the full width of the grid */
  grid-row: 1;
}
