.filter-cont {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 30px;
  padding: 0 10px;
}

.filter-boro {
  max-width: 60%;
  margin: 0;
  padding: 0;
}

.filter-header {
  color: #333;
  font-size: 40px;
  margin-bottom: 10px;
}

.filter-details {
  display: flex;
  flex-direction: column;
}

.filter-item {
  display: flex;
  margin-bottom: 10px;
}

.filter-label {
  font-weight: bold;
  margin-right: 5px;
}

.filter-value {
  color: #555;
}

.filter-value {
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}


